.add-item-modal {
  border-radius: 12px;
  padding: 16px;
}

.add-item-modal-header {
  display: flex;
}
.add-item-modal-header p {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.add-item-modal-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.activity-container {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.activity-add-button button {
  margin-top: 0px;
}

.activity-edit-button button {
  background-color: transparent;
  border: none;
}

#dropdown-custom-button {
  background-image: url(../../assets/img/todo-sort-button.png);
  background-color: transparent;
  background-size: cover;
  border: none;
  width: 55px;
  height: 55px;
  margin-right: 12px;
}

.dropdown-toggle::after {
  display: none;
}

.list-container {
  margin-top: 24px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 800px;
  height: 80px;
}

.very-high {
  background-color: #ed4c5c;
  border-radius: 180px;
  width: 18px;
  height: 18px;
}
.high {
  background-color: #ffce31;
  border-radius: 180px;
  width: 18px;
  height: 18px;
}
.normal {
  background-color: #00a790;
  border-radius: 180px;
  width: 18px;
  height: 18px;
}
.low {
  background-color: #43c4e3;
  border-radius: 180px;
  width: 18px;
  height: 18px;
}
.very-low {
  background-color: #b01aff;
  border-radius: 180px;
  width: 18px;
  height: 18px;
}

.left-section-list {
  width: 400px;
}
.right-section-list {
  width: 400px;
}
.right-section-list button {
  border: none;
  background-color: transparent;
}

.list-edit-button button {
  border: none;
  background-color: transparent;
}

.checkbox {
  margin-top: 14px;
  margin-right: 8px;
}

#category {
  margin-right: 8px;
}

.list-name {
  margin-top: 14px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
}
